

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  
}


header {
  background: #1b1b1b;
  color: #fff;
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo{
    width: 100%;
  max-width: 300px;
    height: auto;
   
}
header i, .btn, button{
  background-color: #3697d7;
  color: aliceblue;
  padding: 3px;
  border: none;
  border-radius: 2px;
}
form .btn{
  background-color: #3697d7;
  color: aliceblue;
  border: none;
}
.btn-logcar {
  display: flex;
  gap: 10px;
  margin-left: auto;
  margin-right: 20px;
}
.registro{
  text-decoration: none;
  color:aliceblue;
}
.btn-carrito , .login {
  padding: 10px;}
  .btn-carrito{
    width: 50px;
  }
  .btn-logcar form{
    width: auto;
    
  }
  

  .lista-carrito, .item-carrito, .carrito-item {
  display: flex;
  
  
  
}
.carrito-item{
  width: 100%;
}
.item-carrito{
   justify-content: space-between;
   margin-bottom: 5px;
}
.carrito-nombre {
  
  color: #111111;
}
.btn-eliminar {
  
  background-color: #2c2c2c;
  border: none;
  color: #ff0000;
  font-size: o.5em;
  cursor: pointer;
  padding: 2px 3px 2px 3px;
}
 

.adbar-text span {
  vertical-align: middle;
    font-size: 1.2em;
    color: #ffcc00;
    height: 20px;
    
    
  }
  .login.dropdown-menu{
  min-width:350px;
  width: auto;
 }
.adbar {
      background-color: #222;
      width: 100%;
      color: #fff;
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      height: auto;
      display: flex;
      margin: 0;
      
    }

   
    .adbar-text {
      display: inline-block;
      padding-left: 100%;
      animation: scroll 25s linear infinite;
    }

    
    @keyframes scroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }
.menues{
  width: 100%;
  background-color: #1b1b1b;
}

.menu-principal{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
 
  
}
nav {
 width: 100%;
  display: flex;
  gap: 25px;
  background: #1b1b1b;
  color: #fff;
  align-items: center;
  height: 58px;
  
}
ul{
  list-style-type: none;
}
li a{
  text-decoration: none;
  color: #e6e9ed;
}
.buscador{
  margin-top: 8px;
  margin-left: 8px;
}
.menu-item i{
  color: #ffcc00;
  font-size: 1.2em;
  vertical-align: middle;
}
.menu-item {
  position: relative;
  cursor: pointer;
  padding: 5px;
  transition: 0.3s;
  margin-bottom: 5px;
}

.menu-item:hover {
  background: #2c2c2c;
  border-radius: 4px;
}


.submenu, .subsubmenu {
  display: none;
  position: absolute;
  background: #2a2a2a;
  top: 100%;
  left: 0;
  padding: 10px;
  border-radius: 8px;
  min-width: 180px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 10;
}

.menu-item:hover  .submenu {
  display: block;
}


.submenu-item {
  padding: 8px;
  position: relative;
  color: #fff;
  transition: 0.3s;
}

.submenu-item:hover {
  background: #3a3a3a;
  border-radius: 6px;
}

.submenu-item:hover  .subsubmenu {
  display: block;
  top: 0;
  left: 100%;
}


.hamburguesa {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  
  color: white;
  
}

  


    


.iconoss .bi{
  font-size: 1.8em;
  color: white;
  

}

body.tema-claro{
   background-color: #EBEBEB;
    color: black;
}

 body.tema-oscuro{
    background-color: #1c1c1c;
    color: white;
}
.modo{
  margin-bottom: 10px;
  margin-left: auto;
margin-right: 20px;
 
}
.botonColor{
  width: 35px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    
    
    
}

.botonColor i{
    transition: transform 0.5s ease, color 0.2s ease;
}

.tema-claro.botonColor{
   background-color: #e0e0e0;
   color: #1c1c1c; 
   
}
.tema-claro.botonColor{
    background-color: #252525;
    color: #e0e0e0;
}


body.tema-oscuro footer {
  background-color: #111111;
  color: #fff;
}
body.tema-oscuro 
body.tema-oscuro .navbar {
  background-color: #111111;
  color: #fff;
}
body.tema-oscuro .navbar a {
   color: #fff;
}
body.tema-oscuro .login.dropdown-menu{
  background-color: #252525;
    color: #e0e0e0;
}
body.tema-oscuro .offcanvas.offcanvas-end{
  background-color: #252525;
    color: #e0e0e0;
}

body.tema-oscuro .navbar .dropdown-menu  {
  background-color: #111111;
  color: hsl(0, 0%, 100%);
}
body.tema-oscuro .h-100{
   border: none;
}
body.tema-oscuro main .card-body{
  background-color: #2c2c2c;
  color: white;
 
 }
 body.tema-oscuro main .card-title{
  background-color: #C5C4C4;
  color: black;
 }
body.tema-oscuro aside{
  background-color: #2c2c2c;
  color: white;
 }
 body.tema-oscuro aside li{
  color: white;
 }
 
 body.tema-oscuro .form-contacto{
  background-color: #3a3a3a;
 }
 body.tema-oscuro .form-contacto input{
  background-color: #838383;
 }
 body.tema-oscuro .form-contacto textarea{
  background-color: #838383;
 }
 body.tema-oscuro .card-body{
  background-color: #a9a8a8;
 }
body.tema-oscuro footer a{
  color: white;
 }


.carousel{
    margin: 10px;
    height: 300px;
box-shadow: 2px 1px 15px #1d1d1d;

}
.carrusel-galeria, .carousel-inner {
margin: auto;
height: 300px;
}
.carousel-item img {
  width: auto;
  height: 300px;
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  width: 7%;
  
}
.carousel-control-next-icon,.carousel-control-prev-icon{
  background-color: #838383;
  border-radius: 5px;
  opacity: 50%;
}

main{
    margin-top: 2em;
  justify-items: center;
  font-weight: 500;
}
main h2{
  text-align: justify;
  
  margin-bottom: 20px;
}
main .row{
  gap: 30px;
  display: flex;
  border-radius: 2px;
}
main .col{
    width: 280px;
    height: auto;
    padding: 0px;
    border-radius: 2px;  

}
main .h-100{
  
  border-radius: 5px;
}

main .card-body{
   padding: 0px;
   border: none;
   border-radius: 0;
   background-color:#C5C4C4;
}

.card-body h5{
 text-align: center;
  padding: 5px 5px 0px 5px;
  margin-bottom: 0px;
}
main .card-title {
  font-size: 1.2em;
  background-color: #2c2c2c;
  
}
.card-title a{
  text-align: center;
  text-decoration: none;
  color: #3697d7;
  
}
main .card-text{
  font-size: 0.9em;
  padding: 5px;
  text-align: center;
  
}




.resto-pag{
  display: grid;
  grid-template-areas: 
    "section aside"
    "footer footer";
}

aside{
  grid-area: aside;
  width: fit-content;
  background-color: #1b1b1b;
  margin: 10px 5px 10px 70px;
  border-radius: 2px;
  box-shadow: 2px 1px 15px #1d1d1d;
  height: fit-content;
  padding: 50px 20px 50px 10px;
}
aside h3{
  color: #fff;
  text-align: center;
   margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  width: 180px;
}
aside li{
  margin-bottom: 30px;
  display: flex;
  align-items: start;
  width: 180px;
  color:#fff ;
}
aside i{
  font-size: 3em;
  color: #3697d7;
 
  margin-top: 3px;
}
aside img{
  width: 180px;
  height: auto;
  
}


.quienes-somos {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-areas: 
    "h3 h3"
    "p1 img1"
    "p2 img2"
    "img4 p3"
    "p5 p5";
}

.quienes-somos h3 {
  grid-area: h3;
  text-align: center;
  margin-bottom: 2rem;  
  
}

.quienes-somos img {
  width: 100%;
  max-width: 350px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin-left: 1.5rem;
}
.quienes-somos p {
  text-align: justify;
  font-size: 1em;
  max-width: 400px;
  
  
  
}
.quienes-somos .p1 {
  grid-area: p1;
 padding: 1.5rem 1rem 0 0;
  
  
}

.quienes-somos .p2 {
  grid-area: p2;
  padding: 2rem 1rem 0 0;
  
}
.quienes-somos .p3 {
  grid-area: p3;
  padding: 3rem 1rem 0 0;
  
  
  
 
  
}

.quienes-somos .p5 {
  grid-area: p5;
  
}


.quienes-somos .imagen-taller1 {
  grid-area: img1;
  float: left;
  height: 200px;
  
}

.quienes-somos .imagen-taller2 {
  grid-area: img2;
  float: right;
  height: 200px;
  margin-top: 1.5rem;
  
 
 
}


.quienes-somos .imagen-taller4 {
  grid-area: img4;
  float: right;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}


footer{
  background-color:#1b1b1b;
  color: white;
  width: 100%;
  margin-top: 1em;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

footer a{
  color: white;
}
.lista-footer{
    list-style-type: none;
    text-decoration: none;
}
.iconos i{
  font-size: 1.8em;

}


.productos{
    margin: 30px 10px 30px 30px;
    display:flex;
    flex-wrap: wrap;
   width: auto;
}
.productos .col{
 height: 320px;
}
.btn-prod{
  display:flex;
  gap: 10px;
  font-size: 13px;
  margin-left: 5px;
  
  
}
.card-body{
  width: 100%;
  padding: 1em 0 1em 0;
}
.card-body p{
  text-align: center;
  font-weight: bold;
}
.comprar{
  text-align: center;
}

.aside-prod{
  
  margin: 10px 5px 10px 30px;
  
}
.btn-html{
  margin-left: 50px;
  margin-bottom: 10px;
}
.btn-html a{
  text-decoration: none;
  color: white;
}

.form-contacto{
  background-color: #C5C4C4;
  width: 800px;
  padding: 50px;
  border-radius: 3px;
  margin-left: 50px;
}
.form-contacto input{
  width: 400px;
}
.form-contacto .form-label{
  width: 700px;
}

@media (min-width: 769px) and (max-width: 1024px){

main{
  padding: 20px;
  margin: 32px 15px 0px 15px;
}
main h2{
text-align: center;
margin-left: 50px;
}
main .row{
  margin-left: 5px;
}
  .resto-pag{
  display: flex;
  flex-wrap: wrap;
    
}
  .quienes-somos{
 margin-left: 50px;
 display: flex;
 flex-wrap: wrap;
 
  
}
.quienes-somos p {

  width: 100%;
 
  
}
 
  .quienes-somos img{
    
    margin-left: 55px;
    width: 100px;
  height: auto;
padding: 20px;}
   
  .quienes-somos .p3{
    margin-left: 50px;
  }
  aside{
    display: none;
  }
  .form-contacto{
  
  width: 500px;
  padding: 10px;
  border-radius: 3px;
  margin-left: 50px;
}
.form-contacto input{
  width: 300px;
}
.form-contacto .form-label{
  width: 300px;
}




}
@media(max-width: 768px) {

  .login.dropdown-menu{
    inset: auto !important;
    transform: none !important;
    right: -28px !important;
    top: 100% !important;
  }
  .menu-principal {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    position: relative;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    background: #1b1b1b;
    height: auto;
    padding: 10px 0;
  }

  
  .menu-item,
  .buscador,
  .modo {
    display: none;
    width: 100%;
  }

  
  nav.activo .menu-item,
  nav.activo .buscador,
  nav.activo .modo {
    display: block;
  }

  
  .hamburguesa {
    display: block;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    ;
  }

  
  .menu-item {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #333;
  }

  .submenu,
  .subsubmenu {
    position: static;
    box-shadow: none;
    background: #2a2a2a;
    border-radius: 0;
    padding-left: 15px;
  }

  .submenu-item {
    padding: 5px 0;
  }

  
  .buscador {
    display: flex;
  }

  .buscador form {
   
    gap: 5px;
  }

  .buscador input {
    width: 200px;
  }
  .buscador .btn{
    width: 60px;
  }

  .modo {
    text-align: end;
    margin: 10px 0;
  }
  .carousel{
    display: none;
  }

  main{
    margin-left: 50px;
     
  }

  .quienes-somos  {
    float: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto 1rem auto;
    max-width: 100%;
  }
  .quienes-somos img {
    margin: 1rem 0;
    max-width: 90%;
  }
  aside{
    display: none;
  }

.form-contacto{
  
  width: 350px;
  padding: 10px;
  border-radius: 3px;
  margin-left: 10px;
}
.form-contacto input{
  width: 200px;
}
.form-contacto .form-label{
  width: 200px;
}
  
.productos{
    display: flex;
    flex-wrap: wrap;
     margin: 10px;
     max-width: 700px;
     
  }
 .productos .row{
  row-gap: 5px;
    column-gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    max-width: 700px;
   
    
 }
 .productos .col{
  display: flex;
  padding: 2px;
  width: 150px;

 }
 .card-body{
  padding: 5px;
  
  
 }
 .card-title{
  font-size: 1em;
  text-align: center;
  margin: 5px 5px 10px 5px;
 }
 .btn-prod{
  display: flex;
  flex-wrap: wrap;
  
  
  
 }
 .btn-prod button{
  padding: 5px;
  width: 125px;
  margin: 0;
  font-size: 1em;
 }
 

}